@media screen and (max-width: 1024px) {
  main .inner:has(> .sidebar) {
    display: flex;
    flex-direction: column;
  }
  main .sidebar {
    width: 100%;
    max-width: 100%;
  }
  main .sidebar.static {
    position: static;
  }
  main .sidebar + .content {
    width: 100%;
    padding: 1rem 0;
  }
  main .sidebar.static + .content {
    margin-left: 0;
  }
  .no-results {
    width: 80% !important;
  }
  .profile-container {
    flex-direction: row;
    background: var(--main-bg-color);
    gap: 1.5rem;
    padding: 1.5rem;
    margin: 0;
    flex-wrap: nowrap;
    justify-content: flex-start;
    box-shadow: none;
  }
  .profile-container .info-area {
    justify-content: flex-start;
  }
  .profile-container .info-area > * {
    width: 100%;
  }
  .profile-container .logo-area {
    background: transparent !important;
    height: auto;
    margin: 0 !important;
    justify-content: flex-start;
    width: auto;
    --avatar-size: 7rem;
  }
  .profile-container .logo-area .logo-wrapper {
    position: inherit;
    transform: none;
  }
  .profile-container .link-area {
    margin: 1rem 0 0;
    justify-content: flex-start;
  }
  .post {
    max-width: 768px;
    margin: 2rem auto;
  }
}
/* Tablet */
@media screen and (max-width: 767px) {
  :root {
    --fs-title: 2.5rem;
    --fs-1: 2rem;
    --fs-2: 1.75rem;
    --fs-3: 1.5rem;
    --fs-4: 1.25rem;
    --fs-5: 1.125rem;
    --fs-6: 1rem;
    --fs-7: 0.9rem;
  }
  .header button[data-action="theme"] {
    width: 2rem;
    height: 2rem;
  }
  main {
    margin-top: var(--header-size);
    width: 100%;
  }
  main .content {
    padding: 1rem 0;
  }
  .profile {
    padding: 1rem;
  }
  .profile .logo img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
  }
  .post-list li {
    height: auto;
    flex-direction: column;
    gap: 1rem;
  }
  .post-list li > * {
    width: 100% !important;
  }
  .post-list li > .info {
    max-height: 8rem;
  }
  .post-list li > .logo {
    height: 10rem;
  }
  .post-list li > .logo.noimage {
    display: none;
  }
  .no-results {
    width: 90% !important;
  }
  .category-list img {
    height: 9rem;
  }
  .tag-list {
    display: -webkit-inline-box;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .post {
    margin: 0 auto 1rem;
  }
  .post blockquote {
    margin: 1rem 0;
  }
  .post > *:not(:first-child) {
    margin-top: 2rem;
  }
  .post .post-metadata ul.meta-list {
    gap: 0.25rem;
  }
  .post .post-metadata ul.tag-list li {
    padding: 0.3rem 0.6rem;
  }
  .post .post-series {
    padding: 1.5rem 0;
    margin-left: -5%;
    margin-right: -5%;
    border-radius: 0;
  }
  .post .post-series > * {
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
  }
  .profile-container {
    gap: 1rem;
    padding: 1rem;
  }
  .profile-container .logo-area {
    --avatar-size: 6rem;
  }
}
/* Mobile */
@media (max-width: 480px) {
  :root {
    --header-size: 70px;
  }
  .app-logo .title {
    font-size: 1.25rem;
  }
  .profile-container .logo-area {
    --avatar-size: 5rem;
  }
  .category-list img {
    height: 6rem;
  }
}
/*# sourceMappingURL=mobile.css.map */