body {
  /* Comment */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
}
body .hll {
  background-color: #ffffcc;
}
body .c {
  color: #408080;
  font-style: italic;
}
body .err {
  border: 1px solid #FF0000;
}
body .k {
  color: #008000;
  font-weight: bold;
}
body .o {
  color: #666666;
}
body .cm {
  color: #408080;
  font-style: italic;
}
body .cp {
  color: #BC7A00;
}
body .c1 {
  color: #408080;
  font-style: italic;
}
body .cs {
  color: #408080;
  font-style: italic;
}
body .gd {
  color: #A00000;
}
body .ge {
  font-style: italic;
}
body .gr {
  color: #FF0000;
}
body .gh {
  color: #000080;
  font-weight: bold;
}
body .gi {
  color: #00A000;
}
body .go {
  color: #808080;
}
body .gp {
  color: #000080;
  font-weight: bold;
}
body .gs {
  font-weight: bold;
}
body .gu {
  color: #800080;
  font-weight: bold;
}
body .gt {
  color: #0040D0;
}
body .kc {
  color: #008000;
  font-weight: bold;
}
body .kd {
  color: #008000;
  font-weight: bold;
}
body .kn {
  color: #008000;
  font-weight: bold;
}
body .kp {
  color: #008000;
}
body .kr {
  color: #008000;
  font-weight: bold;
}
body .kt {
  color: #B00040;
}
body .m {
  color: #666666;
}
body .s {
  color: #BA2121;
}
body .na {
  color: #7D9029;
}
body .nb {
  color: #008000;
}
body .nc {
  color: #0000FF;
  font-weight: bold;
}
body .no {
  color: #880000;
}
body .nd {
  color: #AA22FF;
}
body .ni {
  color: #999999;
  font-weight: bold;
}
body .ne {
  color: #D2413A;
  font-weight: bold;
}
body .nf {
  color: #0000FF;
}
body .nl {
  color: #A0A000;
}
body .nn {
  color: #0000FF;
  font-weight: bold;
}
body .nt {
  color: #008000;
  font-weight: bold;
}
body .nv {
  color: #19177C;
}
body .ow {
  color: #AA22FF;
  font-weight: bold;
}
body .w {
  color: #bbbbbb;
}
body .mf {
  color: #666666;
}
body .mh {
  color: #666666;
}
body .mi {
  color: #666666;
}
body .mo {
  color: #666666;
}
body .sb {
  color: #BA2121;
}
body .sc {
  color: #BA2121;
}
body .sd {
  color: #BA2121;
  font-style: italic;
}
body .s2 {
  color: #BA2121;
}
body .se {
  color: #BB6622;
  font-weight: bold;
}
body .sh {
  color: #BA2121;
}
body .si {
  color: #BB6688;
  font-weight: bold;
}
body .sx {
  color: #008000;
}
body .sr {
  color: #BB6688;
}
body .s1 {
  color: #BA2121;
}
body .ss {
  color: #19177C;
}
body .bp {
  color: #008000;
}
body .vc {
  color: #19177C;
}
body .vg {
  color: #19177C;
}
body .vi {
  color: #19177C;
}
body .il {
  color: #666666;
}
body[data-theme="dark"] {
  /* Comment */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
}
body[data-theme="dark"] .hll {
  background-color: #ffffcc;
}
body[data-theme="dark"] .c {
  color: #408080;
  font-style: italic;
}
body[data-theme="dark"] .err {
  border: 1px solid #FF0000;
}
body[data-theme="dark"] .k {
  color: #008000;
  font-weight: bold;
}
body[data-theme="dark"] .o {
  color: #666666;
}
body[data-theme="dark"] .cm {
  color: #408080;
  font-style: italic;
}
body[data-theme="dark"] .cp {
  color: #BC7A00;
}
body[data-theme="dark"] .c1 {
  color: #408080;
  font-style: italic;
}
body[data-theme="dark"] .cs {
  color: #408080;
  font-style: italic;
}
body[data-theme="dark"] .gd {
  color: #A00000;
}
body[data-theme="dark"] .ge {
  font-style: italic;
}
body[data-theme="dark"] .gr {
  color: #FF0000;
}
body[data-theme="dark"] .gh {
  color: #000080;
  font-weight: bold;
}
body[data-theme="dark"] .gi {
  color: #00A000;
}
body[data-theme="dark"] .go {
  color: #808080;
}
body[data-theme="dark"] .gp {
  color: #000080;
  font-weight: bold;
}
body[data-theme="dark"] .gs {
  font-weight: bold;
}
body[data-theme="dark"] .gu {
  color: #800080;
  font-weight: bold;
}
body[data-theme="dark"] .gt {
  color: #0040D0;
}
body[data-theme="dark"] .kc {
  color: #008000;
  font-weight: bold;
}
body[data-theme="dark"] .kd {
  color: #008000;
  font-weight: bold;
}
body[data-theme="dark"] .kn {
  color: #008000;
  font-weight: bold;
}
body[data-theme="dark"] .kp {
  color: #008000;
}
body[data-theme="dark"] .kr {
  color: #008000;
  font-weight: bold;
}
body[data-theme="dark"] .kt {
  color: #B00040;
}
body[data-theme="dark"] .m {
  color: #666666;
}
body[data-theme="dark"] .s {
  color: #BA2121;
}
body[data-theme="dark"] .na {
  color: #7D9029;
}
body[data-theme="dark"] .nb {
  color: #008000;
}
body[data-theme="dark"] .nc {
  color: #0000FF;
  font-weight: bold;
}
body[data-theme="dark"] .no {
  color: #880000;
}
body[data-theme="dark"] .nd {
  color: #AA22FF;
}
body[data-theme="dark"] .ni {
  color: #999999;
  font-weight: bold;
}
body[data-theme="dark"] .ne {
  color: #D2413A;
  font-weight: bold;
}
body[data-theme="dark"] .nf {
  color: #0000FF;
}
body[data-theme="dark"] .nl {
  color: #A0A000;
}
body[data-theme="dark"] .nn {
  color: #0000FF;
  font-weight: bold;
}
body[data-theme="dark"] .nt {
  color: #008000;
  font-weight: bold;
}
body[data-theme="dark"] .nv {
  color: #19177C;
}
body[data-theme="dark"] .ow {
  color: #AA22FF;
  font-weight: bold;
}
body[data-theme="dark"] .w {
  color: #bbbbbb;
}
body[data-theme="dark"] .mf {
  color: #666666;
}
body[data-theme="dark"] .mh {
  color: #666666;
}
body[data-theme="dark"] .mi {
  color: #666666;
}
body[data-theme="dark"] .mo {
  color: #666666;
}
body[data-theme="dark"] .sb {
  color: #BA2121;
}
body[data-theme="dark"] .sc {
  color: #BA2121;
}
body[data-theme="dark"] .sd {
  color: #BA2121;
  font-style: italic;
}
body[data-theme="dark"] .s2 {
  color: #BA2121;
}
body[data-theme="dark"] .se {
  color: #BB6622;
  font-weight: bold;
}
body[data-theme="dark"] .sh {
  color: #BA2121;
}
body[data-theme="dark"] .si {
  color: #BB6688;
  font-weight: bold;
}
body[data-theme="dark"] .sx {
  color: #008000;
}
body[data-theme="dark"] .sr {
  color: #BB6688;
}
body[data-theme="dark"] .s1 {
  color: #BA2121;
}
body[data-theme="dark"] .ss {
  color: #19177C;
}
body[data-theme="dark"] .bp {
  color: #008000;
}
body[data-theme="dark"] .vc {
  color: #19177C;
}
body[data-theme="dark"] .vg {
  color: #19177C;
}
body[data-theme="dark"] .vi {
  color: #19177C;
}
body[data-theme="dark"] .il {
  color: #666666;
}
/*# sourceMappingURL=pygments.css.map */