{% extends "template/base.html" %}
{% block title %}{{ SITENAME }} - {{ page.title }}{% endblock title %}

{% block content %}
    <article>
        {% if page.featured_image %}
            <img src="{{ page.featured_image }}">
        {% endif %}
        <h1 id="title">
            <a href="{{ SITEURL }}/{{ page.url }}" rel="bookmark">{{ page.title }}</a>
        </h1>
        {{ page.content }}

    </article>

    <footer>
        <a href="{{ SITEURL }}/" class="button_accent">&larr;&nbsp;&nbsp;&nbsp;Back to blog</a>
    </footer>
{% endblock %}
