{% if DEFAULT_PAGINATION %}
    <ul class="paginator">
        <li>
            {% if articles_page.has_previous() %}
                <a href="{{ SITEURL }}/{{ articles_previous_page.url }}">
                    <i class="fas fa-chevron-left"></i>
                </a>
            {% endif %}
        </li>
        <li>
            {% if articles_page.has_next() %}
                <a href="{{ SITEURL }}/{{ articles_next_page.url }}">
                    <i class="fas fa-chevron-right"></i>
                </a>
            {% endif %}
        </li>
    </ul>
{% endif %}
